connectors:
  - name: Casdoor
    type: oidc
    id: casdoor
    config:
      clientID: f18cea40e6359a592eac
      clientSecret: 96a5dda0cf5c99094e6c78fdae6ba34b76471620
      issuer: https://casdoor.open.jynolen.fr
      redirectURI: http://localhost:8000/dex/callback
      scopes:
        - openid
      claimMapping:
        groups: roles
        preferred_username: displayName
      insecureEnableGroups: true
      overrideClaimMapping: true